$def with ()

$var title: 常见问题与解答
$var css:
$var js:
    
<h3>常见问题与解答 - FAQ</h3>

<div class="article">
  <textarea readonly="readonly">
1. 我们是谁？

20年前，我们是住在“芙蓉捌”的一群学子，如今我们是因“芙蓉捌”聚合在一起的团队。以此，记念我们已流逝的青春，聚合我们的团队和伙伴，为您提供超值的工具和服务，为您的生活和工作提供便利。

2. Kam@Cloud云服务是什么？

Kam@Cloud是一个基于云存储的摄像录像平台，可以将您希望摄录的影像资料通过网络摄像机采集并存储在云上，并可以通过多种形式查看和回放，而不受地域的限制。Kam是我们提供的云摄像机的名字，就这么简单。

3. Kam相机与其他网络摄像机有什么不同？

外观上，Kam相机与市面上卖的网络摄像机并无不同，但内部软件已经进行了全面更新，可以与Kam@Cloud云服务无缝的工作。同时，Kam相机解决了现有网络摄像机设置复杂的问题，只要简单几步就可以上网并且进行远程查看、回放影像。

4. 如何用手机作为摄像机？

在注册登录后，可以在首页下载手机App，然后按说明添加摄像机就可以了。像普通Kam相机一样，可以随时记录您想拍摄的影像，并实时同步到云服务，同样可以远程查看和回放。换句话说，就是把手机变成网络摄像机。（目前只提供安卓手机App，水果手机App正在加紧开发中）

5. 服务价格是不是贵了？

我们的服务是分级别的，有免费体验服务，也有高端大气上档次的高级服务，价格差异就体现在此。服务是否“高大上”，主要体现在影像录制的图像质量、帧率、存储时长等硬指标。我们不建议您购买过分夸张的“高大上”服务（虽然我们有能力提供），请根据您的需求和用途选择不同的服务，也可以致电我们咨询。

6. 题外话：为什么要做Kam@Cloud？

原因一：有一天，“芙蓉捌”的一个小伙伴买了一个网络摄像机，但是耗时一整天也没有配置好他希望的远程访问模式，比较脸红的是这个小伙伴还是科班学计算机的。因此我们想要简化市面上网络摄像机的配置过程，让非专业用户也可以快速的安装和使用。

原因二：去年夏天开始，另一个“芙蓉捌”的小伙伴养了一只黄金猎犬（土豪金色），但是主人一不在家，“土豪金”就在家大闹天宫。无奈的小伙伴决定偷拍“土豪金”的活动规律，，，，因此有了Kam相机。


  </textarea>
</div>

<p><a class="rdact" href="javascript:history.go(-1);">返回</a></p>