$def with ()

$var title: 芙蓉捌网络科技云服务条款
$var css:
$var js:
    
<h3>芙蓉捌网络科技云服务条款</h3>

<div class="article">
  <textarea readonly="readonly">
感谢您对芙蓉捌网络科技云网站的关注！如您已购买和使用芙蓉捌网络科技云服务，感谢您对我们的信任与支持，若您访问我公司网站并购买和使用我们所提供的服务，您使用服务应被视为接受服务条款，以下为我公司的服务条款，请认真研读，您与厦门芙蓉捌网络科技有限公司（又称“芙蓉捌网络科技”）的服务条款具有法律约束力。由于我们将对服务进行改善并增加新的功能，因此服务可能会随时间发生变化。我们可以在任何时间停止、中止或更改服务，而无需事先通知你。我们也可自行决定删除我们的服务中任何内容。

服务内容

芙蓉捌网络科技云服务包括由芙蓉捌网络科技托管或提供的经由芙蓉捌网络科技云摄像机记录的视频、图像、语音等数据资料的存储和管理（合称“服务”）。

会员要求

依照本服务条款中的条款和条件，我公司向您授予使用服务的有限、非独占许可，前提是：
1. 您已达到订立有约束力的合同的法定年龄，18周岁； 
2. 中华人民共和国（为本服务条款之目的，不含香港特别行政区、澳门特别行政区及台湾地区，以下简称“中国”）法律未禁止您接受服务。

为获取或使用服务，您需要在注册及使用服务的过程中提供准确的识别、联系及其他信息，且您有责任保持该等信息的准确和完整。您可能还会获得一个帐户、用户名、密码电子邮件地址，以获取或使用服务，或允许他人获取、使用及修改您的“帐户信息”。您有责任对您的帐户信息保密，并因此对在您的帐户下进行的全部活动（包括您已向其提供您的帐户信息的其他人所进行的活动）负完全责任。

您同意对于任何擅自使用您的帐户信息及帐户的行为或任何其他的破坏安全的行为，请立即告知我公司。如您未能向我公司提供准确信息或保持您的帐户信息安全而引起的任何损失或损害，我公司概不负责。

对于为获取服务而需取得的设备及电信服务，以及与之相关的全部费用（如计算设备及互联网服务费），由您自行负责。

会员责任 

1. 严禁利用芙蓉捌网络科技云服务上传、发布或传播任何违反任何方的任何专利、商标、商业秘密、版权或其他专有权利的内容； 
2. 严禁利用芙蓉捌网络科技云服务上传、发布或传播任何未经请求或未经授权的广告，如“垃圾邮件”、“兜售信息”等； 
3. 严禁利用芙蓉捌网络科技云服务上传、发布或传播任何带有病毒性的软件或文件；
4. 严禁利用芙蓉捌网络科技云服务为商业目的收集或存储有关其他用户的个人资料； 
5. 严禁用户未经事先批准，在服务范围内或代表我公司从事商业活动； 
6. 严禁用户利用芙蓉捌网络科技云服务上传或展示以下内容：
(a) 含有裸露、性暴露内容或被我公司视为暴露的内容； 
(b) 含威胁性、辱骂性、骚扰性、诽谤性、损害名誉、侵犯性、憎恨性或从种族、民族或其他角度令人不快的内容； 
(c) 危害国家安全、泄露国家机密、颠覆国家权力或破坏国家统一的内容； 
(d) 鼓励赌博、暴力、谋杀、恐吓或煽动犯罪行为的内容； 
(e) 散布谣言、扰乱社会秩序或破坏社会稳定的内容； 
(f) 煽动民族仇恨或种族歧视或破坏民族内部团结的内容； 
(g) 破坏中国的民族政策或宣扬异端邪说或封建迷信的内容。

你的资料和你的隐私

对于你的资料，你保留全部所有权。我们不会向你索要任何资料的所有权。

在使用服务时，你对你的行为、你的文件和文件夹的内容以及你与他人的通讯负全部责任。例如，你有责任确保你拥有遵守这些条款所需的权利和许可。

我们可以选择对公共内容是否符合我们的社区指南进行评审，但你应承认，芙蓉捌网络科技无义务监督服务相关的任何信息。对于你可通过使用这些服务访问的文件、用户公告或其他任何信息的准确性、完整性、适宜性或合法性，我们概不负责。

计费相关

芙蓉捌网络科技付费帐户是预付的，恕不退款。

芙蓉捌网络科技保留在任何时候终止免费帐户的权利，无论通知与否。如果免费帐户无操作达九十（90）日，则芙蓉捌网络科技可删除你的任何或全部文件，而无需另行通知。

其他内容

服务可包含第三方网站或资源的链接。芙蓉捌网络科技不支持这些链接的可用性、准确性、相关内容、产品和服务，也不对此负责。你对你使用任何该类网站或资源的行为负全部责任。此外，如果我们根据某开源许可向你提供任何软件，这些许可的规定可能与本条款相冲突，在这种情况下，以该开源许可的规定为准。

终止

尽管我们非常希望你继续使用我们的服务，但你可以在任何时候停止使用。我们保留在任何时候中止或终止服务的权利，不论有无因由，亦无论通知已否。例如，如果你未遵守这些条款，或者你使用服务的方式将使我们承担法律责任或干扰他人使用服务，则我们可以中止或终止你使用我们的服务。如果我们中止或终止你使用服务，我们会设法提前告知你并帮助你挽回数据，但在某些情况下（如，屡次或恶意违反这些条款、法院决议、或对其他用户造成危险）我们可能会立即中止服务。

芙蓉捌网络科技云服务免责声明 

1. 我公司不保证：(a)服务将满足您的全部要求；(b)服务将免于中断、及时、安全或无误；或(c)软件中的错误将得到改正。 
2. 通过使用服务下载或以其他方式获得的任何材料，均由您根据自行判断完成且由您自负风险，因下载任何该等材料而造成计算机或其他设备损害或数据丢失的，您将自行承担责任。

  </textarea>
</div>

<p><a class="rdact" href="javascript:history.go(-1);">返回</a></p>