$def with (signup)

$var title: 登录
$var css:
$var js:


<div >
  <form id="f_login" name="f_login" method="post" action="/login">
    <table>
      <tr>
        <td>用户名</td>
        <td><label>
          <input class="logininput" type="text" name="name" id="name" />
        </label></td>
      </tr>
      <tr>
        <td>密码</td>
        <td><label>
          <input class="logininput" type="password" name="passwd" id="pwd" />
        </label></td>
      </tr>
      <tr>
        <td><label>
          <input class="formbutton" type="submit" name="button" id="button" value="登录" />
        </label></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>

 <p> </p>
</div>
