body 
{ 
    width:100%;
	height:100%;
	z-index:0;
	position:absolute;
	top:0;
	left:0;
}
/*************************************************
                 预览左侧模块 begin
*************************************************/
.contentleft
{ 
	z-index:0;
}
/*************************************************
                 视频顶部工具栏 begin
*************************************************/
.toptoolbar
{
    height:34px;
	margin:0 auto;
	background-color:#F0F0F0;
}
.size4to3over
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 2px;	
	cursor:pointer;	
	background:url(../images/public/fixed_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/fixed_sel.png" ,sizingMethod="crop");		
}
.size4to3out
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 2px;	
	cursor:pointer;	
	background:url(../images/public/fixed.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/fixed.png" ,sizingMethod="crop");		
}
.size16to9over
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 0;	
	cursor:pointer;	
	background:url(../images/public/size16to9_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/size16to9_sel.png" ,sizingMethod="crop");	
}
.size16to9out
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 0;	
	cursor:pointer;	
	background:url(../images/public/size16to9.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/size16to9.png" ,sizingMethod="crop");	
}
.originalover
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 0;
	cursor:pointer;
	background:url(../images/public/original_sel.png);	
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/original_sel.png" ,sizingMethod="crop");	
}
.originalout
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 0;
	cursor:pointer;	
	background:url(../images/public/original.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/original.png" ,sizingMethod="crop");		
}
.sizeautoover
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 0;	
	cursor:pointer;	
	background:url(../images/public/sizeauto_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/sizeauto_sel.png" ,sizingMethod="crop");
}
.sizeautoout
{
	float:left;
	width:29px;
	height:26px;
	margin:4px 0 0 0;	
	cursor:pointer;	
	background:url(../images/public/sizeauto.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/sizeauto.png" ,sizingMethod="crop");
}
.substreamover
{
	float:left;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;	
	margin:7px 0 0 1px;	
	cursor:pointer;	
	background:url(../images/public/substream_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/substream_sel.png" ,sizingMethod="crop");
}
.substreamout
{
	float:left;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;		
	margin:7px 0 0 1px;
	cursor:pointer;	
	background:url(../images/public/substream.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/substream.png" ,sizingMethod="crop");    
}
.mainstreamover
{
	float:left;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;	
	margin:7px 0 0 0;
	cursor:pointer;	
	background:url(../images/public/mainstream_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/mainstream_sel.png" ,sizingMethod="crop");
}
.mainstreamout
{
	float:left;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;		
	margin:7px 0 0 0;
	cursor:pointer;	
	background:url(../images/public/mainstream.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/mainstream.png" ,sizingMethod="crop");
}

.fullscreen1over
{
	float:right;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;	
	margin:7px 0 0 0;	
	cursor:pointer;	
	background:url(../images/public/substream_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/substream_sel.png" ,sizingMethod="crop");
}
.fullscreen1out
{
	float:right;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;		
	margin:7px 0 0 0;
	cursor:pointer;	
	background:url(../images/public/substream.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/substream.png" ,sizingMethod="crop");    
}
.fullscreen2over
{
	float:right;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;	
	margin:7px 10px 0 0;
	cursor:pointer;	
	background:url(../images/public/mainstream_sel.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/mainstream_sel.png" ,sizingMethod="crop");
}
.fullscreen2out
{
	float:right;
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#000000;		
	margin:7px 10px 0 0;
	cursor:pointer;	
	background:url(../images/public/mainstream.png);
	_background-image:none; 
	_background-color:#F0F0F0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/mainstream.png" ,sizingMethod="crop");
}
.labelhidden
{
	_width:150px;
	max-width:150px;
	word-break:keep-all;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
/*************************************************
                 视频顶部工具栏 end
*************************************************/
.mainplugin
{
	height:576px;
	width:938px;
	margin:0 auto;
	overflow:hidden;  /*兼容ie6，ie6高度改变无法生效*/
}
/*************************************************
                 视频底部工具栏 begin
*************************************************/
.toolbar
{
	position:relative;
	height:43px; 
	background:url(../images/playback/toolbar.png) repeat-x;
	margin:0 auto;
}
.btnmouseout
{
	float:left;
	width:32px;
	height:28px;
	margin:7px 0 0 2px;
	cursor:pointer;
    background:url(../images/playback/buttonbg.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/buttonbg.png" ,sizingMethod="crop");
}
.btnmouseover
{
	float:left;
	width:32px;
	height:28px;
	margin:7px 0 0 2px;
	cursor:pointer;    
	background:url(../images/playback/buttonbgon.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/buttonbgon.png" ,sizingMethod="crop");
}
.toolbarleft
{
   float:left;
   width:151px;
   margin-left:1px; 
}
.play
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/playback/play.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/play.png" ,sizingMethod="crop");
}
.stoprealplay
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;	
	background:url(../images/playback/stop.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/stop.png" ,sizingMethod="crop");
}
.volumemouseout
{
	float:left;
	width:115px;
	height:28px;
	cursor:pointer;
	margin:7px 0 0 2px;
	text-align:center;	
	background:url(../images/playback/volumebg.png);
}
.volumemouseover
{
	float:left;
	width:115px;
	height:28px;
	cursor:pointer;
	margin:7px 0 0 2px;
	text-align:center;	
	background:url(../images/playback/volumebgon.png);	
}
.closesound
{
	float:left;
	width:23px;
	height:18px;
	margin:4px 0 0 5px;
	background:url(../images/playback/closesound.png);
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/closesound.png" ,sizingMethod="crop");	
}
.opensound
{
	float:left;
	width:23px;
	height:18px;
	margin:4px 0 0 5px;
	background:url(../images/playback/opensound.png);
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/opensound.png" ,sizingMethod="crop");	
}
.sounddisable
{
	float:left;
	width:23px;
	height:18px;
	margin:4px 0 0 5px;
	background:url(../images/playback/soundDis.png);
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/soundDis.png" ,sizingMethod="crop");	
}
.previewtips
{
    display:none; 
	position:absolute; 
	top:0px; 
	left:155px; 
	height:43px; 
	line-height:43px; 
	color:#008000;
}
.toolbarright
{
   float:right;
   margin-right:3px;
}
.voiceoff
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/public/speak.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/speak.png" ,sizingMethod="crop");	
}
.voiceon
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;	
	background:url(../images/public/speakSel.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/speakSel.png" ,sizingMethod="crop");		
}
.voicedisable
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;	
	background:url(../images/public/speakDis.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/speakDis.png" ,sizingMethod="crop");		
}
.capture
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/playback/capture.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/capture.png" ,sizingMethod="crop");
}
.capturedisable
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/playback/captureDis.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/playback/captureDis.png" ,sizingMethod="crop");
}
.startrecord
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/public/startRecord.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/startRecord.png" ,sizingMethod="crop");	
}
.stoprecord
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;	
	background:url(../images/public/stopRecord.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/stopRecord.png" ,sizingMethod="crop");		
}
.recorddisable
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;	
	background:url(../images/public/recordDis.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/recordDis.png" ,sizingMethod="crop");		
}
.imageslider1 
{ 
    margin-top:12px;
	padding:0; 
	height:6px; 
	width:73px; 
	background-image:url("../images/playback/scrollvol.png"); 
    background-repeat:no-repeat;
}
.imageBar2    
{ 
	margin-top:8px;
	padding:0; 
	height:13px; 
	width:10px; 
	background-image:url("../images/playback/speedvol.png"); 
	background-repeat:no-repeat;
}
.Start3DZoom
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/public/3D.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/3D.png" ,sizingMethod="crop");
}
.Stop3DZoom
{
	width:23px;
	height:18px;
	margin:4px 5px 6px 4px;
	background:url(../images/public/3D_sel.png) no-repeat;
	_background:none; 
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/public/3D_sel.png" ,sizingMethod="crop");
}
/*************************************************
                 视频底部工具栏 end
*************************************************/
/*************************************************
                 弹出框样式 begin
*************************************************/
#simplemodal-overlay 
{
    filter:Alpha(opacity=30);
	background-color:#D2D2D2; 
	cursor:auto; 
	width:800px;
}
#simplemodal-container 
{
	position:absolute;
	bottom:0px;
	right:0px;
	height:100%;
	width:100%;
}
/*************************************************
                 弹出框样式 end
*************************************************/

/*************************************************
                 预览右侧模块 begin
*************************************************/
.contentright
{ 
    float:right;
	width:218px; 
	height:100%;
	z-index:0;
}