$def with (name, str)

$var title: 首页
$var css:
$var js:
$var name: $str $name
$var load:

<h3>快捷链接</h3>
<a class="rdact" href="/live2?full=1">全屏现场影像</a>

<h3>最新更新(2014-07-18)</h3>

<div>1. 录像下载功能：点击页面上方的“录像下载”，选择相机和开始时间后，根据说明可下载录像文件。（ipcam管理用户可以下载，终端机用户不能下载）</div>
<div>2. 快速回放：在“录像回放”时，可调节播放速度。方法：在播放时，使用“右双三角”加速，使用“左双三角”减速。</div>

<h3>在线帮助</h3>

<div class="article">
  <textarea readonly="readonly">

1. 用户登录

相机管理用户名:ipcam
权限：可对各摄像头进行录像、移动侦测等设置；实时观看各摄像头影像；回放各摄像头影像

终端机观看用户：ipcam#1, ipcam#2, ipcam#3
权限：实时观看各摄像头影像；回放各摄像头影像

2. 系统设置

1）各终端机相机显示分配设置：通过ipcam用户登录后，点击用户设置进入各影子账户，对各账户下点选显示或禁止进行设置：点击需要设置的相机进入设置界面，现场影像--点选显示或隐藏进行设置；
2）相机显示界面的相机名称更改：点击需要设置的相机进入设置界面，直接在第一栏 相机后输入需要更改的名字；
3）其他设置无须改动，已经系统定制设置完毕，除非特殊需要，可联系厂家人员咨询并进行改动设置；

3. 实时影像监看

1）监看本终端机所有摄像机：点击现场影像，即可播放本用户下所有可监看摄像头画面；（若需增加或者减除本终端机下的某摄像头显示，参考2-1说明操作）
2）监看其中一路摄像机：鼠标放置该摄像机窗口框内，双击即可放大，再次双击即可返回；
3）按键F11可切换是否显示浏览器菜单（默认状态下隐藏浏览器菜单，只保留监控系统菜单）；
4）点击监看屏幕右上角全屏，可以全屏仅显示摄像头画面，隐藏监控系统菜单；

4. 影像回放

点击影像回放按钮菜单后，进入回放界面，每台终端机可同时回放最多4路摄像头影像，也可只回放其中一路，点击想要回放的日期，再点击搜索按钮，搜索到录像后，即可开始播放

5. 联系方式：
电邮： zy@f8geek.com
QQ： 891416047

  </textarea>
</div>

<br/>
